
.icon-plus:before { content: '\e800'; } /* '' */
.icon-minus-circled:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-doc:before { content: '\e804'; } /* '' */
.icon-ok-circled2:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */